#containter, #container td {
	border-spacing: none;
	border: none;
	padding: 0;
	margin: 0;
}

#container #rightcol {
	background-color: #afb8c0;
}

.box {
	background-color: #afb8c0;
	overflow:hidden;
}

.box div.post-title {
	line-height: 38px;
}