/** FONT FACES **/

@font-face {
	font-family: Akbar;
	src: url('../fonts/Akbar.ttf');
}

/** Site Styling **/

* {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #A51717;
}

a img {
	border: 0;
}

/**
 * Page Layout
 **/

/**
 * Layout widths
 */
#header				    { width: 100%;  height: 211px; }
#footer				    { width: 100%;  height: 81px; }

#header .border		    { width: 748px; height: 211px; }
#body				    { width: 748px; }
#body .border		    { width: 748px; }
#footer .border		    { width: 748px; height: 81px; }

#header .body		    { width: 740px; height: 211px; }
#footer .body		    { width: 740px; height: 81px; }
#container			    { width: 740px; }

#header .navbar		    { width: 735px; }
#container #leftcol	    { width: 545px; }
#container .spacer	    { width: 1px;   }
#container #rightcol    { width: 195px; }
#rightcol .right-footer { height: 25px; }

div.edit                { width: 492px; }


body {
	text-align: center;
	margin: 0 auto;
	background-color: #cbcfd8; /*#C5C5C5;*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(38,38,38)), color-stop(1, rgb(194,183,180)));
	background-image: -moz-linear-gradient(center bottom, rgb(38,38,38) 25%, rgb(194,183,180) 100%);
	background-image: url('../img/background/DSC00579_web.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header {
	/*background-image: url('../img/header.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
}

#footer {
	/*background-image: url('../img/footer.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
}

#header .border {
	background-image: url('../img/border.png');
	background-repeat: repeat-y;
	margin: 0 auto;
}

#header .body {
	text-align: left;
	font-size: 48px;
	color: #DEDEDE;

	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	background-image: url('../img/background/red-trans.png');
	margin: 0 auto;
}

#header .body .title {
	font-family: Akbar;
	margin-left: 5px;
	display: block;
	float: left;
	background-image: url('../img/kasumidetatteru-2.png');
	background-repeat: no-repeat;
	background-position: left;
	background-origin: content-box;
}

#header .navbar {
	margin: 0 4px;
	margin-top: -26px;
	border-top: thin solid white;
	padding-left: 5px;
	float: left;
	color: white;
	font-size: 18px;
}

#header .navbar .links {
	float: left;
}

#header .navbar a {
	color: white;
	font-weight: normal;
}

#body {
	margin: 0 auto;
}

#body .border {
	background-image: url('../img/border.png');
	background-repeat: repeat-y;
	margin: 0 auto;
}

#container {
	display: block;
	margin: 0 auto;
}

#container tr {
	vertical-align: top;
}

#container #leftcol {
	text-align: left;
	background-color: white;
	-moz-box-shadow: inset 1px 1px 3px #000;
	-webkit-box-shadow: inset 1px 1px 3px #777;
	box-shadow: inset 1px 1px 3px #777;
	/*border-left: 2.5px solid white;
	border-right: 2.5px solid white;*/
}

#container .spacer {
	background-color: #818181;
}

#container #rightcol {
	/*border: 5px solid #afb8c0;*/
	background-color: /*#907575;*/ /*#BCBBBB;*/ #afb8c0;
}

#container #rightcol hr {
	display: block;
	margin: 8px 0;
	height: 1px;
	background: #818181;
	border: none
}

#footer .border {
	background-image: url('../img/border.png');
	background-repeat: repeat-y;
	margin: 0 auto;
}

#footer .body {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	background-image: url('../img/background/red-trans.png');
	margin: 0 auto;
	color: white;
}

#footer .copyright {
	padding-top: 50px;
	font-size: 8px;
}

/**
 * Box Layout
 **/

.box {
	text-align: left;
	background-color: /*#907575;*/ /*#BCBBBB;*/ #afb8c0;
	margin: 10px;
	padding: 5px 10px 0px;
	font-size: 11px;
	overflow: auto;

	/* CSS3 features */
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #777;
	box-shadow: 1px 1px 3px #777;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.box div.post-header {
	display: block;
	padding-bottom: 3px;
	border-bottom: thin #666 dotted;
}

.box div.post-body {
	display: block;
	min-height: 20px;
}

.box div.post-body img.post-image {
	max-width: 400px;
	border: 2px black solid;
	margin: 5px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.box div.post-footer {
	clear: both;
	padding: 5px 0 0;
	display: block;
	border-top: thin #666 dotted;
}

.box div.post-title {
	width: 80%;
	display: inline;
	text-align: left;
	font-size: 30px;
	line-height: 30px;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	/*font-weight: bold;*/
	text-transform: capitalize;
}

.box div.post-title a {
	color: #700;
}

/*
.box div.post-header .post-title {
	width: 80%;
	font-size: 20px;
	float: left;
} */

.box div.post-header .author {
	float: right;
}

.box div.tags {
	clear: both;
	width: 450px;
}

.box div.post-title a.editPost {
	display: inline;
	font-weight: bold;
	text-decoration: none;
	color: #A51717;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: none;
	/*font-weight: bold;*/
	text-transform: none;
}

.box div.author {
	width: 20%;
	float: right;
	display: inline-block;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
}

.box div.post-content {
	font-size: 14px;
	margin: 5px 0 0;
	display: block;
	clear: both;
}

.box div.post-content div.lastUpdate {
	height: 9px;
	margin-bottom: 5px;
}

.box h3 {
	float: right;
	font-size: 11px;
	padding: 0 0 5px;
}

.box hr {
	clear: both;
	border: 1px inset;
}

.box span.updated {
	float: right;
	font-size: 9px;
}

.box span.additional {
	display: none;
}

.box a.comment {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 0 5px;
	display: inline;
	float: left;
	font-weight: normal;
}

/**
 * Calendar Styling
 **/
div.calendar {
	width: 175px;
	text-align: center;
	border: thin inset grey;
	margin: 0 auto;
	padding: 5px 0;
	background-color: grey;
}

div.calendar div.cal_title {
	padding: 5px 0;
	font-weight: bold;
	font-size: 16px;
}

div.calendar div.cal_year {
	font-size: 8px;
	margin-top: -10px;
}

div.calendar span.month {
	display: inline-block;
	width: 85px;
	position: relative;
	top:-5px;
}

div.calendar table {
	margin: 0 auto;
	border-spacing: 2px;
}

div.calendar table th {
	font-size: 12px;
}

div.calendar table td {
	width: 22px;
	height: 22px;
	font-size: 12px;
	vertical-align: middle;
}

div.calendar table td.prevMonth, div.calendar table td.nextMonth {
	background-color: #979696;
	color: #666;
}

div.calendar table td.currMonth {
	background-color: #D9D9D9;
}

/**
 * Archival
 **/

div.archive-item {
	display: block;
	margin: 10px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: thin black solid;
}

div.archive-item span.title {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

div.archive-item span.post-date:before {
	content: " • ";
}

div.archive-item span.post-date {
	font-size: 14px;
	text-align: right;
}

/**
 * Error and Messages
 **/
div.error {
	margin: 25px;
	text-align: center;
	color: red;
	font-weight: bold;
}

span.message {
	margin: 25px;
	text-align: center;
	color: black;
	font-weight: bold;
}

div.message {
	text-align: center;
	color: black;
	font-size: 25px;
	font-weight: bold;
}

/**
 * Comment Styling
 **/

.comment {
	position: relative;
	top: -5px;
	left: -5px;
}

div#comments {
	display: block;
	clear: both;
	text-align: center;
}

div#newComment {
	text-align: center;
}

div#newComment a#addComment {
	display: inline-block;
	padding: 5px 4px 10px;
	font-size: 14px;
}

div.add-comment {
	display: block;
}

.comment {
	display: block;
	padding: 5px;
	text-align: left;
}

.comment-content {
	clear: both;
	display: block;
	text-align: left;
	border-top: thin #666 dotted;
	padding: 5px 5px 10px;
	min-height: 50px;
	height: auto;
}

div#comments img.poster-image {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 4px;
	margin-right: 14px;
	float: left;
	border: 1px solid black;
}

div#comments div.info {
	display: inline-block;
	float: left;
	width: 100px;
}

form.comment-form div.user-info {
	display: block;
	float: left;
}

form.comment-form div.user-info img {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
	border: 1px solid black;
}

form.comment-form div.user-info h1.poster {
	display: inline-block;
	position: relative;
	top: -5px;
	font-size: 20px;
}

form.comment-form div.edit {
	clear: both;
}

span.error {
	color: red;
	font-size: 12px;
}

/**
 * Login Styling
 **/
#header .body div.login {
	font-size: 8px;
	color: white;
	float: right;
	margin: 5px;
	text-align: right;
}

#header .body div.login .left-align {
	text-align: left;
}

#header .body div.login label {
	margin-left: 5px;
	margin-bottom: -5px;

}

#header .body div.login input {
	display: block;
	height: 12px;
	font-size: 10px;
	width: 75px;
	margin: 0 5px 5px;
}

#header .body div.login button {
	width: 35px;
	height: 20px;
	font-size: 10px;
	margin: 0 4px 0;
}

#header .body div.login div.loggedIn {
	font-size: 12px;
}

div#comments div.poster {
	font-size: 12px;
	font-weight: bold;
}

div#comments div.time {
	font-size: 10px;
	color: #333;
}

div#comments div.message {
	display: inline-block;
	text-align: left;
	width: 345px;
	padding-left: 5px;
	font-size: 13px;
	font-weight: normal;
	float: right;
	margin-top: -50px;
	margin-bottom: 5px;
}

/**
 * RSS Feed
 **/
div#rssfeed {
	float: right;
	position: relative;
	top: 2px;
	right: 2px;
}

/**
 * Search
 **/
form#searchForm {
	text-align: center;
	width: 195px;
}

form#searchForm input#search {
	display: inline-block;
	width: 135px;
	margin: 4px 0 0;
}

form#searchForm button {
	display: inline-block;
	width: 47px;
	height: 20px;
	font-size: 10px;
	margin-top: -5px;
}

/**
 * Paginator
 **/
div.pagination {
	text-align: center;
}

ul.pagination {
	display: inline-block;
	padding: 5px 4px 10px;
	font-size: 14px;
}

ul.pagination li.page {
	display: inline-block;
	list-style: none;
	font-size: 14px;
	width: 25px;
}

ul.pagination li#first-page {
	width: auto;
}

ul.pagination li#previous-page {
	width: 30px;

}

ul.pagination li#current-page {
	font-size: 18px;
}

ul.pagination li#next-page {
	width: 30px;
}

ul.pagination li#last-page {
	width: auto;
}

a.addPostLink {
	display: inline-block;
	padding: 5px 4px 10px;
	font-size: 14px;
}

.center {
	text-align: center;
}

/**
 * Social Links
 **/
div.social {
	text-align: right;
	margin-top: 4px;
	padding: 5px 0 0;
	border-top: thin #666 dotted;
}

div.social div.addthis_toolbox .custom_images a {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

div.social div.addthis_toolbox .custom_images a img {
    opacity: 1.0;
}

div.social div.addthis_toolbox .custom_images a:hover img {
    opacity: 0.75;
}

/**
 * Edit Box Styling
 **/

form#edit-form {
	clear: both;
	display: block;
	text-align: left;
}

form#edit-form ul {
	display: inline-block;
	list-style-type: none;
}

form#edit-form ul li {
	text-align: left;
	display: block;
	margin-left: 5px;
	font-size: 15px;
}

form#edit-form ul li label {
	display: inline-block;
	margin: 4px 0;
	width: 75px;
}

form#edit-form ul li input.information {
	width: 150px;
}

form#edit-form a.cancel {
	float: right;
}

div.edit {
	display: block;
	background-color: #DDDDC4;
	margin: 10px 0;
	padding: 5px;
	border: thin solid #A7A786;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.edit div.row {
	display: block;
	margin: 1px;
	height: 25px;
}

div.edit div.inner-row {
	display: block;
	margin: 1px;
	height: 25px;
}

.edit-item {
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 21px;
	height: 21px;
	margin: 1px;
	background-color: #C5C5B2;
	border: thin solid #A7A786;
	text-align: center;
	vertical-align: middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.edit-item img {
	border: none;
}

div.edit a.emoticon img {
	margin-top: 3px;
	border: 0;
}

div.edit div.spacer {
	display: inline-block;
	float: left;
	width: 1px;
	height: 23px;
	margin: 1px 1px 0;
	background-color: #A7A786;
}

div.edit select[id="fontColor"] {
	margin-left: 5px;
	margin-top: 3px;
	width: 120px;
	position: relative;
}

div.edit textarea[id="content"] {
	display: block;
	margin: 5px auto;
	width: 98%;
	max-width: 98%;
	height: 174px;
}

form#edit-form button {
	display: inline-block;
	padding: 3px;
	margin: 0 5px 5px;
}

form#edit-form button[id="preview"], form#edit-form button[id="delete"] {
	margin-left: 0;
}

div.edit div.emoticon > img {
	margin-top: 3px;
}

div.edit div.emoticon div.inner-box {
	position: relative;
	top: 3px;
	left: 0;
	width: 435px;
	height: 203px;
	background-color: white;
	border-bottom: thin solid #DFE6F6;
	border-right: thin solid #DFE6F6;
}

a.inner-edit-item img {
	vertical-align: middle;
}

div.edit div.emoticon div.inner-box div.inner-row {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
}

div.edit a.inner-edit-item {
	display: inline-block;
	float: left;
	width: 28px;
	height: 28px;
	padding: 0;
	background-color: white;
	border-left: thin solid #DFE6F6;
	border-top: thin solid #DFE6F6;
}

div.searchBox a.close {
	position: relative;
	top: 3px;
	right: 5px;
	float: right;
	font-size: 8px;
}

div.searchBox span.title {
	margin-left: 5px;
}

div.searchBox hr {
	margin: 0 auto;
	width: 98%;
}

div.searchBox div.search-results {
	width: 99%;
	margin: 2px auto 0;
	overflow: auto;
	height: 200px;
}

div.searchBox div.error {
	margin: 25px;
	text-align: center;
	color: red;
	font-weight: bold;
}

/**
 * Twitter widget
 */
div.twtr-widget {
	margin: 0 5px;
}

/* Registration Styling */
form#registration {
	margin: 25px;
}

form#registration ul {
	list-style: none;
}

form#registration label {
	display: block;
	font-size: 25px;
	font-weight: bold;
}

form#registration input {
	border: thin outset #900;
	height: 20px;
	font-size: 20px;
	width: 300px;
	margin-bottom: 20px;
}

form#registration span.error {
	content: 'preview';
}

/* Programming styling */
table.chart {
	text-align: center;
	width: 95%;
	margin: 15px auto;
	font-size: 12px;
	border-color: grey;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

table.chart th {
	font-size: 24px;
	border-color: grey;
    border-width: 1px 1px 0 0;
    border-style: solid;
}

table.chart img {
	border: 1px solid grey;
}

table.chart td {
	width: 30%;
	padding: 1.5%;
	border-color: grey;
    border-width: 1px 1px 0 0;
    border-style: solid;
}

/* Related Styling */
div.related {
	dislay: block;
	width: 185px;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
}

div.related a {
	display: block;
	padding: .5px 0;
	overflow: hidden;
	word-wrap: normal;
	font-size: 10px;
}

a.dsq-brlink {
	display: block;
	text-align: right;
}

/* Contact Page */
div.contact {
	display: block;
	margin: 15px;
	padding: 5px;
}

div.contact ul {
	margin-left: 25px;
	list-style-type: square;
}
